.container0 {
    display: flex;
    justify-content: center;
    /* background-color: bisque; */
    margin-top: 15px;
}

.container {
    display: flex;
    justify-content: center;
    /* background-color: bisque; */
    margin-top: 60px;
}

.container1 {
    display: flex;
    justify-content: center;
    /* background-color: bisque; */
}

.container2 {
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

.textInput {
    width: 300px;
    /* background-color: coral; */
    border-style: 5px solid;
}

.textInputTiny {
    width: 100px;
    /* background-color: coral; */
    border-style: 5px solid;
    padding: 3px;
}

@media only screen and (max-width: 900px) {
    .container2 {
        margin-top: 40px;
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media only screen and (max-width: 608px) {
    .container2 {
        margin-top: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.submitBTN {
    background-color: #488e70af;
    color: white;
    height: 56px;
    width: 70px;
    border: solid 1.5px #488e70 ;
    font-size: 17px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
    font-family: monospace;
}

.submitBTN:focus {
    outline: none;
}


.submitBTN:hover {
    background: #488e70 ;
    cursor: pointer;
    color: rgb(255, 255, 255)
}



.submitBTN:disabled, .submitBTN[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: no-drop;
}